#loginPageBody, .commonPageBody {
	background-image: url(../../../imgs/Login/login_bg.jpg);
	text-align: center;
}

.contentBody {
	filter: alpha(opacity = 80);
	-moz-opacity: 0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;
}